<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>
<main>
    <form class="product-form" action='/admin/product' method='POST'>
        <div class="form-control">
            <input type='text' name="title"><button type='submit'>Add
                product</button>
        </div>
    </form>
</main>
<%- include('includes/end.ejs') %>