<%- include('includes/head.ejs') %>
    <%- include('includes/navigation.ejs') %>
        <% if(prods.length>0) { %>
            <% for(let product of prods) { %>
                <main>
                    <div class="card">
                        <article>
                            <h3 class="name_of_card">
                                <%= product.title %>
                            </h3>
                            <img src="https://img.freepik.com/free-photo/book-composition-with-open-book_23-2147690555.jpg"
                                alt="" class="img_of_card">
                            <h4 class="pricing">$19.99</h4>
                            <div class="action_to_card">
                                <button class="btn">Add Cart</button>
                            </div>
                        </article>
                    </div>
                </main>
                <% } %>
                    <% }else{ %>
                        <h1>Product not found</h1>
                        <% } %>


                            <%- include('includes/end.ejs') %>