<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shop</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_item-list">
                <li class="main-header_item"><a href="/" class="active">Shop</a></li>
                <li class="main-header_item"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="card">
            <article>
                <h3 class="name_of_card">
                    
                </h3>
                <img src="https://img.freepik.com/free-photo/book-composition-with-open-book_23-2147690555.jpg" alt=""
                    class="img_of_card">
                <h4 class="pricing">$19.99</h4>
                <div class="action_to_card">
                    <button class="btn">Add Cart</button>
                </div>
            </article>
        </div>
    </main>
</body>

</html>